.header {
    background: #0F1D42;
    height: 150px;
    border-bottom: solid;
    border-color: red;
    border-width: 5px;
    text-align: center;
  }

  .header h1 {
    margin: 20px;
    padding-top: 20px;
    display: flex;
    color: black;
    font-size: 2rem;
  } 
  
  p{
    color: black;
    text-align: center;
    font-size: large;
  }